*.pdf
*.png
*.gz
*.pic
*.pic.xz

!Chicago_overview.png
!simdata.png
!events_by_hour.pdf
!south_trigger.pdf
!grid_kde_by_bandwidth.pdf
!grid_kde_by_nn.pdf
!varying_r0.pdf
!varying_r0_no_g.pdf
!grid_kde_one.pdf
!grid_kde_onea.pdf
!grid_kde_one_mod.pdf
!grid_kde_two.pdf
!grid_kde_three.pdf
!grid_kde_knn1.pdf
!grid_kde_knn2.pdf
!grid_kde_knn1_mod.pdf
!grid_kde_knn_sem_1.pdf
!full_kde_1.pdf
!full_kde_2.pdf
!full_kde_3.pdf
!no_grid_kde_1.pdf
!no_grid_kde_1a.pdf
!no_grid_nnkde_1.pdf
!no_grid_nnkde_1a.pdf
!no_grid_kde_split_1.pdf
!no_grid_kde_split_1a.pdf
!fixed_grid_1.pdf
!fixed_grid_mod_1.pdf
!hawkes_sample.pdf
!hawkes_predictions.pdf
!all_north_preds.pdf
!all_north_preds_normed.pdf
!all_south_preds_normed.pdf
